<div class="container d-flex flex-column align-items-center justify-content-between">
  <div class="d-flex justify-content-center">
    <h1 class="name-title">BUDGET WISELY</h1>
  </div>
  <ul class="w-100 list-unstyled">
    <li>
    <%= link_to 'Log In', new_user_session_path, class: "btn btn-light w-90 active-blue" %>
    </li>
    <li class="mb-2">
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-light w-90 active-blue" %>
    </li>
  </ul>
</div>