<div class="mx-auto w-100">
  <h1 class="font-weight-bold display-4">Editing category</h1>

  <%= render "form", category: @category %>

  <%= link_to "Show this category", @category, class: "ml-2 btn btn-light" %>
  <%= link_to "Back to categories", categories_path, class: "ml-2 btn btn-light" %>
</div>